################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StockBuyProblem/bin/Debug/net8.0
/StockBuyProblem/obj
